@media (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
  }

  .form-wrapper {
    flex-direction: column-reverse;
  }

  .boton1 {
    width: 65%;
    height: 46px;
    line-height: 40px;
    margin-top: 4vh;
    position: absolute;
  }

  .text h4 {
    text-align: center;
  }

  .formulario {
    position: absolute;
    margin: 42px;
    margin-left: 10px;
    width: 21%;
  }

  .formulario1 {
    margin-left: 81vh;
    margin-top: 28px;
    height: 9%;
  }

  .text h4 {
    margin-top: 11vh;
  }

  .contenedor {
    flex-direction: column;
    width: 21%;
    margin: 0vh;
    /* display: flex; */
    flex-wrap: wrap;
    line-height: 23px;
  }

  .contenedor div ul {
    margin-left: -40px;
  }

  .container {
    
    margin-bottom: -6%;
    margin-right: 10%;
    margin-left: 10%;
    min-height: 1vh;
    width: 79%;
    box-shadow: 2px 3px 5px 1px grey;
    border-radius: 20px;
   
  }

  footer{
    padding:25px
  }
}
