* {
  margin: 0px;
}

h4 {
  margin-bottom: 12px;
  font-size: 28px;
}

.imagen-one {
  width: 55%;
  margin-top: 100px;
}

.hero {
  background-image: linear-gradient(rgba(118, 223, 218, 0.383), transparent),
    url('./images/bg-hero-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.formulario {
  position: absolute;
  margin: 44px;
}

.formulario1 {
  margin-left: 86%;
  font-size: 25px;
  background: white;
  width: 11%;
  height: 6%;
  text-align: center;
  line-height: 55px;
  border-radius: 20px;
  margin-top: 30px;
}

#content {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  border: 3px solid #80808038;
  box-shadow: 5px 3px 5px 1px ghostwhite;
  width: 85%;
  min-height: 60vh;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.text {
  text-align: justify;
  font-size: 22px;
  margin: 75px;
}

.text h4 {
  text-align: left;
}

.form-wrapper p {
  color: gray;
}

.form-wrapper img {
  width: 50%;
  margin: 20px;
}

.container {
  position: relative;
  position: relative;
  margin-top: -4%;
  margin-bottom: -5%;
  margin-left: 32%;
  min-height: 25vh;
  width: 34%;
  box-shadow: 2px 3px 5px 1px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.content {
  position: absolute;
}

.boton {
  background: deeppink;
  border-radius: 50px;
  text-align: center;
  color: white;
  margin: 10px;
  margin-bottom: -20px;
}

.boton1 {
  width: 40%;
  height: 40px;
  line-height: 37px;
}

footer{
  background: rgba(19, 28, 39, 1);
  width: 100%;
  min-height: 45vh;
  color:white;
  display: flex;
  align-items: center;
  line-height: 30px;
}

.contenedor{
  width: 90%;
  margin: 15vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.hijo{
  flex-grow: 1;
}

/* footer {
  background: rgba(19, 28, 39, 1);
  color: white;
  width: 100%;
  min-height: 45vh;
  display: flex;
  margin: auto;
  cursor: pointer;
} */

/* .contenedor {
  width: 78%;
  margin: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 40px;
} */

/* .contenedor .hijo1 p {
  margin-bottom: 10px;
} */
/* ****************************************** */
/* .hijo {
  flex-grow: 1;
} */

/* .hijo1 {
  margin-left: 27px;
} */

.izquierda {
  float: left;
  /* margin: 10px; */
}

/* .location {
  width: 24%;
} */

/* .hijo4 {
  display: contents;
  margin-left: 3px;
} */

/* .copy {
  margin-left: 80%;
  font-size: 15px;
} */

.espacio-contenedorarriba {
  margin-top: 15vh;
}

.espacio-contenedorabajo {
  margin-bottom: 15vh;
}

